html {
    background: url("https://images.unsplash.com/photo-1541320518190-df77c3ff7ca5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1534&q=80") no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    overflow: scroll;   
}
.number, p, h2 {
    margin-top: 30%;
    margin-right: auto;
    margin-left: auto;
    width: 75%;
    overflow: wrap;
}
.number {
    font-size: 175%;
}
p {
    margin-top: -2%;
    font-size: 125%;
}
.card-front-five section{
    margin: 10%;
}
.card-one {
    background-color: transparent;
    width: 222px;
    height: 222px;
    perspective: 1000px; 
    margin-left: 22%;
    margin-right: auto;
    margin-top: 3%;
    margin-bottom: auto;
    transition-duration: 1s;
}  
.card-inner-one {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
.card-one:hover .card-inner-one {
    transform: rotateY(180deg);
}    
.card-front-one, .card-back-one {
    position: absolute;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    margin-top: auto;
    margin-bottom: auto;
}
.card-front-one {
    background: linear-gradient(to bottom right, rgb(194, 39, 74), rgb(217, 167, 103)80%);
    color: black;
}
.card-back-one {
    border-radius: 50%;
    background-color: rgb(217, 167, 103);
    color: white;
    transform: rotateY(180deg);
}
.c1{
    line-height: 100%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10%;
    text-align: left;
}
a:link, a:visited, a:hover {
    color: white;
    text-decoration: none;
}
#bree{
    margin-top: 20%;
} 
.card-two {
    background-color: transparent;
    width: 175px;
    height: 175px;
    perspective: 1000px; 
    margin-left: 70%;
    margin-right: auto;
    margin-top: -5%;
    margin-bottom: auto;
    transition-duration: 2s;
    transform: scale(1.25);
}  
.card-inner-two {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition:  0.8s;
    transform-style: preserve-3d;
}
.card-two:hover .card-inner-two {
    transform: rotateY(180deg);
}    
.card-front-two, .card-back-two {
    position: absolute;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
.card-front-two {
    background: radial-gradient(rgb(217, 167, 103), rgb(194, 39, 74));
    color: black;
}
.card-back-two {
    border-radius: 50%;
    background-color: rgb(194, 39, 74);
    color: white;
    font-size: 12pt;
    transform: rotateY(180deg);
}
.card-back-two ul li{
    background-color: rgb(194, 39, 74);;
    transition: transform .4s; 
    margin: 0 auto;
    height: auto;
    width: auto;
    padding: 2%;
    margin-top:3%;
    text-shadow: 
      -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
      1px 1px 0 #000;
}
.card-back-two ul li:hover {
    transform: scale(1.5);
}
.card-three {
    background-color: transparent;
    width: 111px;
    height: 111px;
    perspective: 1000px; 
    margin-left: 43%;
    margin-right: auto;
    margin-top: -7%;
    transition-duration: 1.5s;
    margin-bottom: auto;
}  
.card-inner-three {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: 0.8s;
    transform-style: preserve-3d;
}
.card-three:hover .card-inner-three {
    transform: rotateY(180deg);
}    
.card-front-three, .card-back-three {
    position: absolute;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
.card-front-three {
    background: radial-gradient(rgb(217, 167, 103), rgb(194, 39, 74));
    color: black;
}
.card-back-three {
    border-radius: 50%;
    background-color: rgb(194, 39, 74);
    color: white;
    transform: rotateY(180deg);
}
.c3 {
    margin-top: 40%;
} 
.card-four {
    background-color: transparent;
    width: 200px;
    height: 200px;
    perspective: 1000px; 
    margin-left: 15%;
    margin-right: auto;
    margin-top: 2%;
    transition-duration: 1.25s;
    margin-bottom: auto;
}  
.card-inner-four {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: 0.8s;
    transform-style: preserve-3d;
}
.card-four:hover .card-inner-four {
    transform: rotateX(180deg);
    margin-top: -100px;
}    
.card-front-four, .card-back-four {
    position: absolute;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    margin-right: 20px;
    backface-visibility: hidden;
    z-index: 9999;
}
.card-front-four {
    background: linear-gradient(to bottom left, rgb(217, 167, 103) 40%, rgb(194, 39, 74));
    color: black;
}
.card-back-four {
    border-radius: 50%;
    background-color: rgb(217, 167, 103);
    color: black;
    transform: rotateX(180deg);
}
.c4{
    margin-top: 40%;
}
.card-back-four ul li{
    background-color: rgb(217, 167, 103);
    transition: transform .4s; 
    margin: 0 auto;
    height: auto;
    width: 190%;
    padding: 2%;
    margin-top:3%;
    text-shadow: 
      -1px -1px 0 rgb(0, 0, 0),
      1px -1px 0 rgb(0, 0, 0),
      -1px 1px 0 rgb(0, 0, 0),
      1px 1px 0 rgb(0, 0, 0);
      z-index: 9999;
}
.card-back-four ul li:hover {
    transform: scale(1.5);
    z-index: 9999;
}
.list-top{
    font-weight: bolder;
    font-size: 120%;
}
.ops:hover {
    text-shadow: 
      -1px -1px 0 red,
      1px -1px 0  red,
      -1px 1px 0  red,
      1px 1px 0  red;
}
.strengths:hover {
    text-shadow: 
      -1px -1px 0 green,
      1px -1px 0  green,
      -1px 1px 0  green,
      1px 1px 0  green;
}
#last{
    margin-bottom: 300px;
}
.card-five {
    background-color: transparent;
    width: 77px;
    height: 77px;
    perspective: 1000px; 
    margin-left: 58%;
    margin-right: auto;
    margin-top: -6%; 
    transition-duration: 1.75s;
    margin-bottom: auto;
}  
.card-inner-five {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
.card-five:hover .card-inner-five {
    transform: rotateY(180deg);
}    
.card-front-five, .card-back-five {
    position: absolute;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
.card-front-five {
    background: radial-gradient(rgb(217, 167, 103), rgb(194, 39, 74));
    color: black;
}
.card-back-five {
    border-radius: 50%;
    background-color: rgb(194, 39, 74);
    color: white;
    margin-top: 40%;
    transform: rotateY(180deg);
}
.c5 {
    background-color: rgb(194, 39, 74);;
    transition: transform .4s; 
    padding: -75%;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    line-height: 190px;
}
.c5:hover{
    transform: scale(3);
}
#shrug{
    margin-top:-50%;
    margin-left:-10%;
}
.team-name{
    font-family: monospace;
}
.team-name span{
    position: absolute;
    margin-left: 10px;
    transform-origin: bottom center;
    height: 170px;
    width: 20px;
    margin-top: -38px;
}
.ch1 { 
    transform: rotate(-80deg); 
}
.ch2 { 
    transform: rotate(-77deg); 
}
.ch3 { 
    transform: rotate(-74deg); 
}
.ch4 { 
    transform: rotate(-71deg); 
}
.ch5 { 
    transform: rotate(-68deg); 
}
.ch6 { 
    transform: rotate(-65deg); 
}
.ch7 { 
    transform: rotate(-62deg); 
}
.ch8 { 
    transform: rotate(-59deg); 
}
.ch9 { 
    transform: rotate(-56deg); 
}
.ch10 { 
    transform: rotate(-53deg); 
}
.ch11 { 
    transform: rotate(-50deg); 
}
.ch12 { 
    transform: rotate(-47deg); 
}
.ch13 { 
    transform: rotate(-44deg); 
}
.ch14 { 
  transform: rotate(-41deg); 
}
.ch15 { 
    transform: rotate(-38deg); 
}
.ch16 { 
    transform: rotate(-35deg); 
}
.ch17 { 
    transform: rotate(-32deg); 
  }
.ch18 { 
    transform: rotate(-29deg); 
  }